/* ================================================================================== */
/* ======================  START: Audio Transcription Block   ======================= */
/* ================================================================================== */
/* Blocks that have an audio dropped into the Main Block will be styled to appear as  */
/* a audio transcription block. thin the player to minimal height and color it the    */
/* same as the properties block so they visually group... */
/* Start: */
/* Single out any .ls-blocks that have an audio element as an predecessor to it's own */
/* > .block-main-content child */
.ls-block:has(>[class*="main"] audio) {
	/* create some style variables to share within the audio element, */
	/* make the audio element short and as wide as it's container div */
	& audio {
		--h-bg:22; --s-bg:91%; --l-bg:99%; --a-bg:100%;
		--h-highlight:292; --l-highlight:40%; --s-highlight:45%;
		--a-button:20%; --a-text:50%;
		--hsl-bg: hsl(var(--h-bg),var(--s-bg),var(--l-bg),var(--a-bg));
		--border: 1px inset hsl(var(--h-bg),20%,20%,100%);
		--radius: 20px;
		--size-time: 1rem; 
		width:100%; max-height:24px;
	}
	/* blend the outter most audio container into the background */
	& audio::-webkit-media-controls {
		width: 100%;
		background-color: transparent;
		opacity: 1;
	}
	/* take the collection of buttons and actionable elements and turn */
	/* it into a flex box to reorder the buttons and slider bars */
	& audio::-webkit-media-controls-panel {
		display: flex;
		transition: .5s;
		gap: 10px;
		background-color: hsl(var(--h-bg),var(--s-bg),var(--l-bg),var(--a-bg));
	}
	/* make the play/pause button into a pill shape and theme color and */
	/* move it to the 2nd to last element */
	& audio::-webkit-media-controls-pause-button,
	& audio::-webkit-media-controls-play-button {
		border-radius: var(--radius);
		padding: 10px 35px;
		max-height: 23px;
		order: 8;
		cursor: pointer;
	}
	/* change the background color of the play button to the non-playing color */
	& audio::-webkit-media-controls-play-button {
		background-color: hsl(var(--h-highlight),var(--s-highlight),var(--l-highlight),var(--a-button));
	}
	/* change the background color of the play button to the playing color */
	& audio::-webkit-media-controls-pause-button {
		background-color: var(--hsl-highlight);
	}
	/* reorder the timeline to the 2nd element */
	& audio::-webkit-media-controls-timeline { order: 6; }
	/* style the running / remaining time to match and move them to the end */
	& audio::-webkit-media-controls-current-time-display,
	& audio::-webkit-media-controls-time-remaining-display {
		font-size: var(--size-time);
		color: hsl(var(--h-highlight),var(--s-highlight),var(--l-highlight),var(--a-text));
		order: 10;
		margin:0;
	}
	/* hide all the other audio elements -- we won't use them */
	& audio::-webkit-media-controls-mute-button,
	& audio::-webkit-media-controls-volume-slider-container,
	& audio::-webkit-media-controls-volume-slider,
	& audio::-webkit-media-controls-seek-back-button,
	& audio::-webkit-media-controls-seek-forward-button,
	& audio::-webkit-media-controls-fullscreen-button,
	& audio::-webkit-media-controls-rewind-button,
	& audio::-webkit-media-controls-return-to-realtime-button,
	& audio::-webkit-media-controls-toggle-closed-captions-button {}
} /* .ls-block:has(>[class*="main"] audio) */
